@font-face
{
    font-family: 'Open Sans';
    font-weight: 700;

    src: url(../fonts/OpenSans-Bold.ttf);
}

@font-face
{
    font-family: 'Open Sans';
    font-weight: 600;

    src: url(../fonts/OpenSans-SemiBold.ttf);
}

@font-face
{
    font-family: 'Open Sans';
    font-weight: 400;

    src: url(../fonts/OpenSans-Regular.ttf);
}

.satus-header
{
    box-shadow: none;
    background: var(--background-1);
}

#satus-header__search
{
    font-size: 14px;

    width: 100%;
    max-width: 1024px;
    height: 48px;
    margin-right: 8px;
    padding: 16px 8px;

    color: #444;
    border-radius: 8px;
    background: #fafafa;
    box-shadow: 0 1px 3px rgba(0,0,0,.05);
}

.satus-section--dashboard
{
    display: flex;

    height: 100%;
    padding: 0;

    flex: 1;
    align-items: flex-start;
}










/*-----------------------------------------------------------------------------
>>> TABLES
-----------------------------------------------------------------------------*/

#table-domain,
#table-url,
#table-search
{
    overflow: visible;

    height: calc(100% - 16px);
    margin: 8px;

    flex: 1;
}

#table-url
{
    flex: 2;
}

.satus-table__head > div
{
    overflow: visible !important;

    opacity: .75;
}

.satus-table__head > div:hover
{
    cursor: pointer;

    opacity: 1;
}

.satus-table__head > div .label
{
    position: relative;
}

.satus-table__head > div .sort-desc .label::after
{
    position: absolute;
    top: 8px;
    right: -14px;

    width: 0;
    height: 0;

    content: '';

    border-top: 5px solid var(--text-1);
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
}

.satus-table__head > div .sort-asc .label::after
{
    position: absolute;
    top: 8px;
    right: -14px;

    width: 0;
    height: 0;

    content: '';

    border-right: 5px solid transparent;
    border-bottom: 5px solid var(--text-1);
    border-left: 5px solid transparent;
}

.satus-table__body
{
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0,0,0,.1);
}

#table-domain .satus-table__head > div,
#table-domain .satus-table__body > div > div,
#table-url .satus-table__head > div,
#table-url .satus-table__body > div > div,
#table-search .satus-table__head > div,
#table-search .satus-table__body > div > div
{
    overflow: hidden;

    box-sizing: border-box;
    padding: 4px 16px;

    color: var(--text-2);
}

#table-domain .satus-table__body > div:hover
{
    cursor: pointer;

    background: rgba(0,0,0,.1);
}


/* DOMAIN */
#table-domain .satus-table__head > div:nth-child(1),
#table-domain .satus-table__body > div > div:nth-child(1)
{
    width: 32.5%;
}

#table-domain .satus-table__head > div:nth-child(2),
#table-domain .satus-table__body > div > div:nth-child(2)
{
    display: flex;

    width: 10%;

    justify-content: center;
}

#table-domain .satus-table__head > div:nth-child(3),
#table-domain .satus-table__body > div > div:nth-child(3)
{
    width: 62.5%;
}


/* URL */
#table-url .satus-table__head > div:nth-child(1),
#table-url .satus-table__body > div > div:nth-child(1)
{
    width: 20%;
}


#table-url .satus-table__head > div:nth-child(2),
#table-url .satus-table__body > div > div:nth-child(2)
{
    width: 35%;
}

#table-url .satus-table__head > div:nth-child(3),
#table-url .satus-table__body > div > div:nth-child(3)
{
    width: 35%;
}


#table-url .satus-table__head > div:nth-child(4),
#table-url .satus-table__body > div > div:nth-child(4)
{
    width: 10%;
}


/* SEARCH */
#table-search .satus-table__head > div:nth-child(1),
#table-search .satus-table__body > div > div:nth-child(1)
{
    width: 40%;
}

#table-search .satus-table__head > div:nth-child(3),
#table-search .satus-table__body > div > div:nth-child(3)
{
    width: 60%;
}





.satus-section--dashboard #table-domain .satus-button,
.satus-section--dashboard #table-url .satus-button,
.satus-section--dashboard #table-search .satus-button
{
    width: 32px;
    min-width: 32px;
    height: 32px;
}





@media (max-width: 1365px)
{
    .satus-section--dashboard
    {
        flex-direction: column;
    }

    .satus-section--dashboard #table-domain,
    .satus-section--dashboard #table-url,
    .satus-section--dashboard #table-search
    {
        width: calc(100% - 16px);
    }

    #table-url
    {
        flex: 1;
    }
}
