
/*--------------------------------------------------------------
>>> THEMES
----------------------------------------------------------------
1.0 Default
2.0 Dark
--------------------------------------------------------------*/

/*---------------------------------------------------------------
1.0 DEFAULT
---------------------------------------------------------------*/

html {
    --satus-theme-primary: #f6b465;
    
    --satus-theme-header: #2684ff;
    --satus-theme-header-text: #fff;
    
    --satus-theme-main: #f7fafc;
}


/*---------------------------------------------------------------
2.0 DARK
---------------------------------------------------------------*/

html[theme="dark"]
{
	--satus-theme-primary: #f6b465;

	--satus-theme-dialog: #2c2b2c;
	--satus-theme-dialog-text: #b5b5b5;

	--satus-theme-header: #343334;
	--satus-theme-header-text: #b5b5b5;

	--satus-theme-main: #2c2b2c;
	--satus-theme-main-text: #b5b5b5;

	--satus-theme-section: #343334;

	--satus-theme-button: transparent;

	--satus-theme-scrollbar: rgba(255, 255, 255, .2);
	--satus-theme-scrollbar-focus: rgba(255, 255, 255, .4);

	--satus-theme-tooltip: rgba(10, 10, 10, .7);

	--satus-theme-ripple: rgba(255, 255, 255, .04);
}

/*---------------------------------------------------------------
>>> INDEX:
-----------------------------------------------------------------
# Font
# Body
---------------------------------------------------------------*/

/*---------------------------------------------------------------
# FONT
---------------------------------------------------------------*/

@font-face
{
    font-family: 'Open Sans';
    font-weight: 400;

    src: url('assets/fonts/OpenSans-Regular.ttf');
}

@font-face
{
    font-family: 'Open Sans';
    font-weight: 700;

    src: url('assets/fonts/OpenSans-SemiBold.ttf');
}

body,
input,
textarea,
button
{
    font-family: 'Open Sans', sans-serif;
}


/*---------------------------------------------------------------
# BASIC
---------------------------------------------------------------*/

body
{
    font-size: .875rem;

    display: flex;
    overflow: hidden;
    flex-direction: column;

    width: 100vw;
    height: 100vh;
    margin: 0;

    background-color: var(--satus-theme-main);
}

/*---------------------------------------------------------------
>>> HEADER
-----------------------------------------------------------------
1.0 Buttons
    1.1 Back button
2.0 Title
3.0 Right section
4.0 Search
5.0 Vertical menu
---------------------------------------------------------------*/

.satus-header
{
    z-index: 2;

    min-height: 64px;

    border-bottom: 2px solid #006eff;
    box-shadow: 0 2px 2px rgb(0, 0, 0, .3);
}

body[data-compact-mode='true'] .satus-header
{
    min-height: 38px;
    padding-left: 0;
}

.satus-section--align-start
{
    position: relative;
}

/*---------------------------------------------------------------
1.0 BUTTONS
---------------------------------------------------------------*/

.satus-header .satus-button
{
    width: 36px;
    height: 36px;
    padding: 6px;
}

.satus-header .satus-button::before
{
    border-radius: 50%;
}


/*---------------------------------------------------------------
2.0 SEARCH
---------------------------------------------------------------*/

.satus-header .satus-button.satus-header__search-button
{
    position: absolute;
    right: 0;

    padding: 9px;

    pointer-events: none;

    color: #888;
}

.satus-header__text-field
{
    width: 100%;
    max-width: 1024px;
    height: 38px;
    padding: 10px 8px 10px 36px;

    color: #888;
    border-radius: 4px;
    background-color: #fff;
}

body[data-compact-mode='true'] .satus-header__text-field
{
    border-top: none;
    border-left: none;
    border-radius: 0;
}

.satus-header__text-field--show-results
{
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.satus-search-results
{
    position: absolute;
    top: 50px;
    left: 0;

    display: none;

    width: 100%;
    max-width: 1024px;
    height: 32px;

    background: #fff;
}

.satus-header__text-field--show-results + .satus-search-results
{
    display: block;
}


/*---------------------------------------------------------------
3.0 RIGHT SECTION
---------------------------------------------------------------*/

.satus-section--align-end
{
    justify-content: flex-end;
}

.satus-section--align-end .satus-button + .satus-button
{
    margin-left: 8px;
}


/*---------------------------------------------------------------
5.0 VERTICAL MENU
---------------------------------------------------------------*/

.satus-dialog--vertical-menu .satus-dialog__scrim
{
    background: rgba(0,0,0,.7);

    backdrop-filter: blur(4px);
}

.satus-dialog--vertical-menu .satus-dialog__surface
{
    position: absolute;
    top: 8px;
    right: 8px;
    left: auto;

    min-width: 180px;
    max-width: 180px;

    transform-origin: right top;
}

.satus-dialog--vertical-menu .satus-button,
.satus-dialog--vertical-menu .satus-button
{
    width: 100%;
    height: 36px;
    padding: 0 16px;

    text-align: left;
}

.satus-dialog--vertical-menu .satus-button svg,
.satus-dialog--vertical-menu .satus-button svg
{
    width: 20px;
    height: 18px;
    margin: 0 14px 0 0;

    opacity: .75;

    fill: none;
    stroke: var(--satus-theme-primary);
}

.satus-dialog--vertical-menu .satus-button--github svg
{
    width: 18px;
    height: 18px;
}

/*--------------------------------------------------------------
>>> MAIN
----------------------------------------------------------------
# Checkbox
# Loader
--------------------------------------------------------------*/

.satus-main
{
    margin: 8px 0;
}

.satus-main__container
{
    display: flex;

    justify-content: space-between;
}


/*--------------------------------------------------------------
# CHECKBOX
--------------------------------------------------------------*/

.satus-switch--checkbox
{
    padding: 0;

    justify-content: center;
}

.satus-switch--checkbox:hover
{
    background-color: unset;
}

.satus-switch--checkbox .satus-switch__label
{
    margin: 0 0 0 16px;

    flex: 1;
}

.satus-switch--checkbox .satus-switch__track
{
    width: 22px;
    min-width: 22px;
    max-width: 22px;
    height: 22px;
    min-height: 22px;
    max-height: 22px;

    border-radius: 50%;
    background: transparent;
    box-shadow: inset 0 0 0 1px #bdbdbd;
}

.satus-switch--checkbox .satus-switch__track::before
{
    position: absolute;
    top: 7px;
    left: 5px;

    visibility: hidden;

    width: 10px;
    height: 5px;

    transition: unset;
    transform: rotate(-45deg);

    opacity: 0;
    border: 2px solid #fff;
    border-top: none;
    border-right: none;
    border-radius: unset;
    background-color: transparent;
}

.satus-switch--checkbox .satus-switch__input:checked + .satus-switch__track::before
{
    top: 7px;
    left: 5px;

    visibility: visible;

    transform: rotate(-45deg);

    opacity: 1;
    background-color: transparent;
}

.satus-switch--checkbox .satus-switch__track::after
{
    content: none;
}

.satus-switch--checkbox .satus-switch__input:checked + .satus-switch__track
{
    background-color: #f6b465;
    box-shadow: none;
}


/*--------------------------------------------------------------
# LOADER
--------------------------------------------------------------*/

body.loading::after
{
    font-size: 64px;

    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;

    display: flex;

    width: 100vw;
    height: 100vh;

    content: '...';

    color: rgba(255,255,255,.8);
    background: rgba(0,0,0,.8);

    justify-content: center;
    align-items: center;
}

/*---------------------------------------------------------------
>>> TABLES
-----------------------------------------------------------------
# Global
# By domain
# By URL
# By params
# Pinned tabs
# Compact mode

# Inner elements
# Toolbar
---------------------------------------------------------------*/

/*---------------------------------------------------------------
# GLOBAL
---------------------------------------------------------------*/

.satus-section--tables
{
    width: 100vw;

    background-color: transparent !important;

    align-items: flex-start;
}

.satus-table
{
    height: calc(100vh - 80px);

    border: 1px solid #e1e4eb;
    border-radius: 4px;
}

.satus-dropdown-list .satus-table
{
    height: auto;
    max-height: calc(50vh - 80px);
}

.satus-table__head
{
    height: 39px;

    color: #6e7d91;
    border-bottom: 1px solid #d5d5dd;
    background: #f1f1f4;
    box-shadow: 0 1px 2px rgb(0 0 0 / 10%);
}

.satus-table__body
{
    background: #fff;
}

.satus-table__row:nth-child(2n)
{
    background: transparent;
}


/*---------------------------------------------------------------
# BY DOMAIN
---------------------------------------------------------------*/

#by-domain
{
    margin: 0 8px 8px;

    flex: 1;
}

#by-domain .satus-table__head > div:nth-child(1),
#by-domain .satus-table__cell:nth-child(1)
{
    width: 68px;
}

#by-domain .satus-table__head > div:nth-child(2),
#by-domain .satus-table__cell:nth-child(2)
{
    width: 28px;
}

#by-domain .satus-table__cell:nth-child(2)
{
    padding: 0 8px 0 0;

    text-overflow: unset;
}

#by-domain .satus-table__head > div:nth-child(3),
#by-domain .satus-table__cell:nth-child(3)
{
    width: calc(100% - 96px);
}


/*---------------------------------------------------------------
# BY URL
---------------------------------------------------------------*/

#by-url
{
    margin: 0 8px 8px 0;

    flex: 2;
}

#by-url .satus-table__row:hover
{
    cursor: default;

    background-color: rgba(0,0,0,.075);
}

#by-url .satus-table__head > div:nth-child(1),
#by-url .satus-table__cell:nth-child(1)
{
    width: 68px;
}

#by-url .satus-table__head > div:nth-child(2),
#by-url .satus-table__cell:nth-child(2)
{
    width: calc(50% - 82px);
}

#by-url .satus-table__head > div:nth-child(3),
#by-url .satus-table__cell:nth-child(3)
{
    width: calc(50% - 82px);
}

#by-url .satus-table__cell:nth-child(3)
{
    color: #1e6fdb;
}

#by-url .satus-table__head > div:nth-child(4),
#by-url .satus-table__cell:nth-child(4)
{
    width: 28px;
    padding: 0 8px 0 0;

    text-overflow: unset;
}

#by-url .satus-table__head > div:nth-child(5),
#by-url .satus-table__cell:nth-child(5)
{
    width: 68px;
    padding-top: 0;
    padding-bottom: 0;
}

.satus-button--star[data-value='false'] svg
{
    fill: transparent;
}

.satus-button--star[data-value='true'] svg
{
    fill: var(--satus-theme-primary);
    stroke: var(--satus-theme-primary);
}


/*---------------------------------------------------------------
# BY PARAMS
---------------------------------------------------------------*/

#by-params
{
    margin: 0 8px 8px 0;

    flex: 1;
}

#by-params .satus-table__head > div:nth-child(1),
#by-params .satus-table__cell:nth-child(1)
{
    width: 68px;
}

#by-params .satus-table__head > div:nth-child(2),
#by-params .satus-table__cell:nth-child(2)
{
    width: 28px;
}

#by-params .satus-table__cell:nth-child(2)
{
    padding: 0 8px 0 0;

    text-overflow: unset;
}

#by-params .satus-table__head > div:nth-child(3),
#by-params .satus-table__cell:nth-child(3)
{
    width: calc(100% - 96px);
}


/*---------------------------------------------------------------
# PINNED TABS
---------------------------------------------------------------*/

#pinned
{
    margin: 0 8px 8px 0;

    flex: 1;
}

#pinned .satus-table__head > div:nth-child(1),
#pinned .satus-table__cell:nth-child(1)
{
    width: 28px;
}

#pinned .satus-table__cell:nth-child(1)
{
    padding: 0 8px 0 0;

    text-overflow: unset;

    opacity: .5;
}

#pinned .satus-table__cell:nth-child(1):hover
{
    opacity: 1;
}

.satus-button--pin[data-value=true]
{
    color: #00f;
}

#pinned .satus-table__head > div:nth-child(2),
#pinned .satus-table__cell:nth-child(2)
{
    width: calc(100% - 36px);
}


/*---------------------------------------------------------------
# COMPACT MODE
---------------------------------------------------------------*/

body[data-compact-mode='true'] .satus-table
{
    height: calc(100vh - 38px);

    border: none;
    border-radius: 0;
}

body[data-compact-mode='true'] #by-domain,
body[data-compact-mode='true'] #by-url,
body[data-compact-mode='true'] #by-params,
body[data-compact-mode='true'] #pinned
{
    margin: 0;
}

body[data-compact-mode='true'] #by-domain,
body[data-compact-mode='true'] #by-url,
body[data-compact-mode='true'] #by-params
{
    border-right: 1px solid #ddd;
}


/*---------------------------------------------------------------
# INNER ELEMENTS
---------------------------------------------------------------*/

.satus-table a
{
    text-decoration: none;

    color: currentColor;
}

.satus-table img
{
    width: 16px;
    height: 16px;
    margin: 0 8px -3px 0;
}

.satus-table .satus-button
{
    width: auto;
    height: auto;
    padding: 0;
}

.satus-button--dropdown
{
    width: 20px;
    height: 20px;
    padding: 2px;
}

.satus-button--star
{
    width: 20px;
    height: 20px;
    padding: 0;
}

.satus-button--dropdown svg:last-child
{
    display: none;
}

.satus-button--dropdown.opened svg:first-child
{
    display: none;
}

.satus-button--dropdown.opened svg:last-child
{
    display: block;
}

.satus-button--dropdown svg,
.satus-button--star svg,
.satus-button--pin svg
{
    pointer-events: none;
}

.satus-button--dropdown::before,
.satus-button--star::before
{
    content: none;
}



.satus-input--tags
{
    box-sizing: border-box;
    width: 100%;
    height: calc(100% - 10px);
    margin: 5px 0;
    padding: 1px 2px;

    border: 1px solid #d2d2d2;
    border-radius: 4px;
    outline: none;
}





.satus-dropdown-list
{
    width: 100%;
}

.satus-dropdown-list .satus-table__head
{
    display: none;
}

#by-domain .satus-dropdown-list .satus-table__cell:nth-child(2)
{
    width: 60px;
}

#by-domain .satus-dropdown-list .satus-table__cell:nth-child(3)
{
    width: calc(100% - 132px);
}

.satus-table__row.selected
{
    background-color: rgba(255, 255, 0, .3);
}


/*---------------------------------------------------------------
# TOOLBAR
---------------------------------------------------------------*/

.satus-table--toolbar
{
    display: none;

    height: 38px;
    padding: 0 8px;

    background: #fff;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, .1);
}

.satus-table--selected .satus-table--toolbar
{
    display: flex;
}

.satus-table--selected .satus-table__body
{
    height: calc(100% - 39px - 38px);
}

.satus-table--toolbar > *:nth-child(5)
{
    width: 68px;
}


.satus-table--toolbar > *:nth-child(4)
{
    width: 28px;

    text-overflow: unset;
}

.satus-table--toolbar .satus-button
{
    font-weight: 700;

    width: auto;
    margin: 0 8px 0 0;
    padding: 0 8px;
}

/*-----------------------------------------------------------------------------
>>> TABLES
-----------------------------------------------------------------------------*/

@media (max-width: 1365px)
{
    .satus-section--dashboard
    {
        flex-direction: column;
    }

    .satus-section--dashboard #table-domain,
    .satus-section--dashboard #table-url,
    .satus-section--dashboard #table-search
    {
        width: calc(100% - 16px);
    }

    #table-url
    {
        flex: 1;
    }
}
