
/*--------------------------------------------------------------
>>> THEMES
----------------------------------------------------------------
# Header
# Main
# Table
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# HEADER
--------------------------------------------------------------*/

.satus-header
{
    color: #514e48;
    background-color: #f6f5f4;

    fill: #514e48;
}

.satus-header__text-field
{
    color: #514e48;
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
}


/*--------------------------------------------------------------
# MAIN
--------------------------------------------------------------*/

.satus-main,
.satus-main__container
{
    background-color: #f6f5f4;
}

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Fonts
# Basic
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# FONTS
--------------------------------------------------------------*/

@font-face
{
    font-family: 'Open Sans';
    font-weight: 400;

    src: url('assets/fonts/OpenSans-Regular.ttf');
}

@font-face
{
    font-family: 'Open Sans';
    font-weight: 700;

    src: url('assets/fonts/OpenSans-SemiBold.ttf');
}


/*--------------------------------------------------------------
# BASIC
--------------------------------------------------------------*/

body
{
    font-family: 'Open Sans', sans-serif;
    font-size: .875rem;

    display: flex;
    overflow: hidden;
    overflow: hidden;
    flex-direction: column;

    width: 100vw;
    height: 100vh;
    margin: 0;

    background-color: #2c2b2c;
}

input,
textarea
{
    font-family: 'Open Sans', sans-serif;
}

/*--------------------------------------------------------------
>>> HEADER:
----------------------------------------------------------------
1.0 Buttons
    1.1 Back button
2.0 Title
3.0 Right section
4.0 Search
5.0 Vertical menu
--------------------------------------------------------------*/

.satus-header
{
    box-shadow: none;
}

/*--------------------------------------------------------------
1.0 BUTTONS
--------------------------------------------------------------*/

.satus-header .satus-button
{
    width: 36px;
    height: 36px;
    padding: 6px;
}

.satus-header .satus-button::before
{
    border-radius: 50%;
}


/*--------------------------------------------------------------
1.1 BACK BUTTON
--------------------------------------------------------------*/

.satus-button--back
{
    position: absolute;
}

.satus-button--back svg
{
    fill: none;
    stroke: currentColor;
}

body[data-appearance='home'] .satus-button--back
{
    visibility: hidden;
}


/*--------------------------------------------------------------
2.0 SEARCH
--------------------------------------------------------------*/

.satus-header__text-field
{
    font-size: 14px;

    width: 100%;
    max-width: 1024px;
    height: 40px;
    margin-right: 8px;
    padding: 14px 8px;

    border-radius: 4px;
}

.satus-header__text-field + .satus-button
{
    position: absolute;
    right: 12px;
}


/*--------------------------------------------------------------
3.0 RIGHT SECTION
--------------------------------------------------------------*/

.satus-section--align-end
{
    justify-content: flex-end;
}

.satus-section--align-end .satus-button + .satus-button
{
    margin-left: 8px;
}


/*--------------------------------------------------------------
5.0 VERTICAL MENU
--------------------------------------------------------------*/

.satus-dialog--vertical-menu .satus-dialog__scrim
{
    background: rgba(0,0,0,.7);

    backdrop-filter: blur(4px);
}

.satus-dialog--vertical-menu .satus-dialog__surface
{
    position: absolute;
    top: 8px;
    right: 8px;
    left: auto;

    min-width: 180px;
    max-width: 180px;

    transform-origin: right top;
}

.satus-dialog--vertical-menu .satus-button,
.satus-dialog--vertical-menu .satus-folder
{
    width: 100%;
    height: 36px;
    padding: 0 16px;

    text-align: left;
}

.satus-dialog--vertical-menu .satus-folder svg,
.satus-dialog--vertical-menu .satus-button svg
{
    width: 20px;
    height: 18px;
    margin: 0 14px 0 0;

    opacity: .75;

    fill: none;
    stroke: #f6b465;
}

.satus-dialog--vertical-menu .satus-button--github svg
{
    width: 18px;
    height: 18px;
}

/*--------------------------------------------------------------
>>> MAIN
----------------------------------------------------------------
# Table
# Checkbox
--------------------------------------------------------------*/

.satus-main__container
{
    display: flex;

    justify-content: space-between;
}


/*--------------------------------------------------------------
# TABLE
--------------------------------------------------------------*/

.satus-table
{
    margin-left: 8px;

    flex: 1;
}

.satus-table:nth-child(2)
{
    flex: 2;
}

.satus-main__container > .satus-table:last-child
{
    margin-right: 8px;
}

.satus-table td:nth-child(4)
{
    opacity: .7;
    color: #2979ff;
}

.satus-table td:nth-child(4):hover
{
    cursor: pointer;

    opacity: 1;
}


/*--------------------------------------------------------------
# CHECKBOX
--------------------------------------------------------------*/

.satus-switch--checkbox
{
    padding: 0;

    justify-content: center;
}

.satus-switch--checkbox:hover
{
    background-color: unset;
}

.satus-switch--checkbox .satus-switch__label
{
    margin: 0 0 0 16px;

    flex: 1;
}

.satus-switch--checkbox .satus-switch__track
{
    width: 22px;
    min-width: 22px;
    max-width: 22px;
    height: 22px;
    min-height: 22px;
    max-height: 22px;

    border-radius: 50%;
    background: transparent;
    box-shadow: inset 0 0 0 1px #bdbdbd;
}

.satus-switch--checkbox .satus-switch__track::before
{
    position: absolute;
    top: 7px;
    left: 5px;

    visibility: hidden;

    width: 10px;
    height: 5px;

    transition: unset;
    transform: rotate(-45deg);

    opacity: 0;
    border: 2px solid #fff;
    border-top: none;
    border-right: none;
    border-radius: unset;
    background-color: transparent;
}

.satus-switch--checkbox .satus-switch__input:checked + .satus-switch__track::before
{
    top: 7px;
    left: 5px;

    visibility: visible;

    transform: rotate(-45deg);

    opacity: 1;
    background-color: transparent;
}

.satus-switch--checkbox .satus-switch__track::after
{
    content: none;
}

.satus-switch--checkbox .satus-switch__input:checked + .satus-switch__track
{
    background-color: #f6b465;
    box-shadow: none;
}

/*-----------------------------------------------------------------------------
>>> TABLES
-----------------------------------------------------------------------------*/







@media (max-width: 1365px)
{
    .satus-section--dashboard
    {
        flex-direction: column;
    }

    .satus-section--dashboard #table-domain,
    .satus-section--dashboard #table-url,
    .satus-section--dashboard #table-search
    {
        width: calc(100% - 16px);
    }

    #table-url
    {
        flex: 1;
    }
}
