/*---------------------------------------------------------------
>>> HEADER
-----------------------------------------------------------------
1.0 Buttons
    1.1 Back button
2.0 Title
3.0 Right section
4.0 Search
5.0 Vertical menu
---------------------------------------------------------------*/

.satus-header
{
    min-height: 54px;

    box-shadow: none;
}

body[data-compact-mode="true"] .satus-header
{
    min-height: 38px;
    padding-left: 0;
}

.satus-section--align-start
{
    position: relative;
}

/*---------------------------------------------------------------
1.0 BUTTONS
---------------------------------------------------------------*/

.satus-header .satus-button
{
    width: 36px;
    height: 36px;
    padding: 6px;
}

.satus-header .satus-button::before
{
    border-radius: 50%;
}


/*---------------------------------------------------------------
2.0 SEARCH
---------------------------------------------------------------*/

.satus-header .satus-button.satus-header__search-button
{
    position: absolute;

    padding: 9px;

    pointer-events: none;
}

.satus-header__text-field
{
    width: 100%;
    max-width: 1024px;
    height: 38px;
    margin-right: 8px;
    padding: 10px 8px 10px 36px;

    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #fff;
}

body[data-compact-mode="true"] .satus-header__text-field
{
    border-radius: 0;
    border-top: none;
    border-left: none;
}


/*---------------------------------------------------------------
3.0 RIGHT SECTION
---------------------------------------------------------------*/

.satus-section--align-end
{
    justify-content: flex-end;
}

.satus-section--align-end .satus-button + .satus-button
{
    margin-left: 8px;
}


/*---------------------------------------------------------------
5.0 VERTICAL MENU
---------------------------------------------------------------*/

.satus-dialog--vertical-menu .satus-dialog__scrim
{
    background: rgba(0,0,0,.7);

    backdrop-filter: blur(4px);
}

.satus-dialog--vertical-menu .satus-dialog__surface
{
    position: absolute;
    top: 8px;
    right: 8px;
    left: auto;

    min-width: 180px;
    max-width: 180px;

    transform-origin: right top;
}

.satus-dialog--vertical-menu .satus-button,
.satus-dialog--vertical-menu .satus-button
{
    width: 100%;
    height: 36px;
    padding: 0 16px;

    text-align: left;
}

.satus-dialog--vertical-menu .satus-button svg,
.satus-dialog--vertical-menu .satus-button svg
{
    width: 20px;
    height: 18px;
    margin: 0 14px 0 0;

    opacity: .75;

    fill: none;
    stroke: var(--satus-theme-primary);
}

.satus-dialog--vertical-menu .satus-button--github svg
{
    width: 18px;
    height: 18px;
}
