/*-----------------------------------------------------------------------------
>>> TABLES
-----------------------------------------------------------------------------*/

@media (max-width: 1365px)
{
    .satus-section--dashboard
    {
        flex-direction: column;
    }

    .satus-section--dashboard #table-domain,
    .satus-section--dashboard #table-url,
    .satus-section--dashboard #table-search
    {
        width: calc(100% - 16px);
    }

    #table-url
    {
        flex: 1;
    }
}
