html
{
	--primary: #111;
	
	--background-1: #111;
    --text-1: #838383;
    --icon-1: #FFD285;
    --background-hover-1: rgba(255, 255, 255, .1);
    --text-hover-1: #FFF;
    --icon-hover-1: #FFF;

    --background-2: #181818;
    --text-2: #FFF;
    --icon-2: #FFD285;
    --background-hover-2: rgba(255, 255, 255, .08);
    --text-hover-2: #FAFAFA;
    --icon-hover-2: #FAFAFA;

    --background-3: #181818;
    --text-3: #838383;
    --icon-3: #FFD285;
    --background-hover-3: rgba(255, 255, 255, .1);
    --text-hover-3: #FAFAFA;
    --icon-hover-3: #FAFAFA;
}