/*--------------------------------------------------------------
>>> THEMES
----------------------------------------------------------------
# Header
# Main
# Table
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# HEADER
--------------------------------------------------------------*/

.satus-header
{
    color: #514e48;
    background-color: #f6f5f4;

    fill: #514e48;
}

.satus-header__text-field
{
    color: #514e48;
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
}


/*--------------------------------------------------------------
# MAIN
--------------------------------------------------------------*/

.satus-main,
.satus-main__container
{
    background-color: #f6f5f4;
}


/*--------------------------------------------------------------
# TABLE
--------------------------------------------------------------*/

.satus-table
{
    background: #fff;
}

.satus-table__head
{
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
}

.satus-table__head > div
{
    height: 100%;
    padding: 0;
}

.satus-table__head .satus-text
{
    display: inline-flex;

    width: 100%;
    height: 100%;

    color: #b4b2af;

    justify-content: center;
    align-items: center;
}

.satus-table__head > div:hover .satus-text
{
    color: #514e48;
}
