/*--------------------------------------------------------------
>>> THEMES
----------------------------------------------------------------
1.0 Default
2.0 Dark
--------------------------------------------------------------*/

/*---------------------------------------------------------------
1.0 DEFAULT
---------------------------------------------------------------*/

html {
    --satus-theme-primary: #f6b465;
    
    --satus-theme-header: transparent;
    /*--satus-theme-header-text: #f6b465;*/
    
    --satus-theme-main: #eee;
}


/*---------------------------------------------------------------
2.0 DARK
---------------------------------------------------------------*/

html[theme="dark"]
{
	--satus-theme-primary: #f6b465;

	--satus-theme-dialog: #2c2b2c;
	--satus-theme-dialog-text: #b5b5b5;

	--satus-theme-header: #343334;
	--satus-theme-header-text: #b5b5b5;

	--satus-theme-main: #2c2b2c;
	--satus-theme-main-text: #b5b5b5;

	--satus-theme-section: #343334;

	--satus-theme-button: transparent;

	--satus-theme-scrollbar: rgba(255, 255, 255, .2);
	--satus-theme-scrollbar-focus: rgba(255, 255, 255, .4);

	--satus-theme-tooltip: rgba(10, 10, 10, .7);

	--satus-theme-ripple: rgba(255, 255, 255, .04);
}
